<br>
<form #registrationForm="ngForm" (ngSubmit)="register(registrationForm)">
    <div>
        <label>Title: </label>
        <input type="text" name="title" id="title" placeholder="Series Title" ngModel>
    </div><br>
    <div>
        <label>Year: </label>
        <input type="text" name="year" id="year" placeholder="Year Released on" ngModel>
    </div><br>
    <div>
        <label>Cast Name: </label>
        <input type="text" name="name" id="name" placeholder="Cast Name" ngModel>
    </div><br>
    <div>
        <label>Age: </label>
        <input type="text" name="age" id="age" placeholder="Age of Cast" ngModel>
    </div><br>
    <input type="submit" value="Submit" >
</form>