<span *ngIf="series" >
    <h1>Title-{{series.title}}</h1>
    <h3>Year : {{series.year}} </h3>
    <h3>Cast :   <button class="btn btn-info" routerLink="/series/{{series._id}}/cast">Show All Casts</button> &nbsp; <button class="btn btn-info" routerLink="/series/{{series._id}}/cast" >Add Casts</button></h3>
    <ul>
        <li *ngFor="let cast of series.cast">
            {{cast.name}} &nbsp; &nbsp; &nbsp; Age:-  {{cast.age}}
        </li>
    </ul>

    <button class="btn btn-primary" (click)="backToList()">Back to List</button>&nbsp;
    <button class="btn btn-info" (click)="editSeries()">Edit this Series</button>&nbsp;
    <button class="btn btn-danger" (click)="deleteSeries()">Delete</button>
</span>
